<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
        <title>Traviso.js - Example 1 - Basic World</title>
        <style>
            body {
                margin: 0;
                padding: 0;
                background-color: #000000;
            }
        </style>
        <script src="{{ url_for('static', filename='js/pixi.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/traviso.min.js') }}"></script>
    </head>
    <body>
        <script>

    ////// Here, we initialize the pixi application
    var pixiRoot = new PIXI.Application({
        width: window.innerWidth - 5,
        height: window.innerHeight - 5,
        backgroundColor: 0x9cd4e2,
    });

    // add the renderer view element to the DOM
    document.body.appendChild(pixiRoot.view);

    function onTileSelect(rowIndex, columnIndex)
    {
      console.log("TILE")
    }
    function onObjectSelectCallback(obj)
    {
      console.log("OBJECT SELECTED")
      text = pixiRoot.stage.children[4]
      text.text = obj.name
      console.log(text)

    }
    function onObjectReachedDestination(obj) {
      next_step = obj.step + 1
      if (next_step >= obj.trip.length) {
         next_step = 0
      }
      obj.step = next_step
      engine.checkAndMoveObjectToLocation(obj, {c: obj.trip[next_step]["y"], r: obj.trip[next_step]["x"]}, 2)
    }
// this method will be called when the engine is ready
    function onEngineInstanceReady()
    {
        pixiRoot.stage.addChild(engine);
        console.log("READY")

        // create buttons
        var btnZoomIn = new PIXI.Sprite(PIXI.Texture.from("{{ url_for('static', filename='images/ui/zoom_in.png') }}"));
        pixiRoot.stage.addChild(btnZoomIn);
        var btnZoomOut = new PIXI.Sprite(PIXI.Texture.from("{{ url_for('static', filename='images/ui/zoom_out.png') }}"));
        pixiRoot.stage.addChild(btnZoomOut);
        var btnSelected = new PIXI.Sprite(PIXI.Texture.from("{{ url_for('static', filename='images/ui/selected.png') }}"));
        pixiRoot.stage.addChild(btnSelected);
        var text = new PIXI.Text("", {fontFamily: 'Arial', fontSize: 24, fill: 0x000000, align: 'center'})
        pixiRoot.stage.addChild(text);
        // set position
        btnZoomOut.position.x = window.innerWidth - 5 - 75;
        btnZoomOut.position.y = window.innerHeight - 5 - 75;
        btnZoomIn.position.x = btnZoomOut.position.x
        btnZoomIn.position.y = btnZoomOut.position.y - 50;
        btnSelected.position.y = btnZoomOut.position.y;
        btnSelected.position.x = window.innerWidth / 2 - 300;
        text.position.x = btnSelected.position.x + 10
        text.position.y = btnSelected.position.y + 10
        // add click callbacks
        btnZoomIn.interactive = btnZoomIn.buttonMode = true;
        btnZoomOut.interactive = btnZoomOut.buttonMode = true;
        btnZoomIn.click = btnZoomIn.tap = function(data)
        {
            engine.zoomIn();
        };

        btnZoomOut.click = btnZoomOut.tap = function(data)
        {
            engine.zoomOut();
        };

        fetch("{{ url_for('vehicles') }}")
          .then(function(response) {
            return response.json()
        })
        .then(function(data) {
          Object.keys(data).forEach(namespace => {
            Object.keys(data[namespace]).forEach(vehicle => {
              start_pos = data[namespace][vehicle][0]
              next_pos = data[namespace][vehicle][1]
              obj = engine.getObjectsAtRowAndColumn(start_pos["x"], start_pos["y"])[0]
              obj.name = vehicle
              obj.trip = data[namespace][vehicle]
              obj.step = 1
              engine.checkAndMoveObjectToLocation(obj, {c: data[namespace][vehicle][1]["y"], r: data[namespace][vehicle][1]["x"]}, 2)
            })
          })
        })
    }
    ////// Here, we create our traviso instance and add on top of pixi

    // engine-instance configuration object
    // https://www.travisojs.com/blog/tutorial/2015/03/15/engine-configuration.html
    var instanceConfig = {
        tileHeight: 64,
        isoAngle: 27,
        engineInstanceReadyCallback: onEngineInstanceReady,
        objectSelectCallback: onObjectSelectCallback,
        objectReachedDestinationCallback: onObjectReachedDestination,
        dontAutoMoveToTile: true,
        followCharacter: false,
        highlightTargetTile: false,
        pathFindingClosest: true,
        highlightPath: false,
        tileHighlightAnimated: false,
        //tileSelectCallback: onTileSelect,
        mapDataPath: "{{ url_for('mapdata') }}", // the path to the json file that defines map data, required
        //assetsToLoad: ["assets/assets_map.json", "assets/assets_characters.json"] // array of paths to the assets that are desired to be loaded by traviso, no need to use if assets are already loaded to PIXI cache, default null
    };

    var engine = TRAVISO.getEngineInstance(instanceConfig, { logEnabled: true });

        </script>
    </body>
</html>
